body {
    background-color: coral;
}

.card {
    background-color: white;
    padding: 1em;
    width: 40em;
    margin: 0 auto 1em auto;

}

h1, h2 {
    margin: 0;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
}

/* Form components */

.formElement {
    display: flex;
    margin-bottom: 0.5em;
}

.formLabel {
    flex: 1;
}

.formInput {
    flex: 2;
}

.submit {
    float: right;
}

.error {
    border-color: red;
}

/* Navigation */

.link {
    padding: 0.4em;
    background-color: darkgrey;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.current {
    background-color: lightgrey;
    color: darkgrey;
    cursor: not-allowed;
}

.link:hover {
    background-color: lightgrey;
}

.authNav {
    text-align: center;
    padding: 1em;
}

.navBar {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
}


/* Tickets */
.ticket {
    display: flex;
    margin: 0.5em;
    padding: 1em;
    background-color: darkgrey;
    text-decoration: none;
    color: black;
}

.ticket:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.ticketTitle {
    flex: 1;
    display: flex;
    align-items: center;
}

.ticketStatus {
    padding: 0.5em;
    border-radius: 1em;
    max-width: 4em;
    text-align: center;
}

.statusWrapper {
    display: flex;
    gap: 1em;
}

.Open {
    background-color: lightgreen;
}

.Closed {
    background-color: red;
}
